@import url("normalize.css");
@import url("reset.css");

#header {
  /* display: none !important; */
}


/* about cicle */
.sub_vision,
.sub_slogan,
.sub_ir,
.sub_brochure {
  padding-top: 220px;
}
.sub_vision>p{
  text-align: center;
  font-size: var(--T-H4);
}
.sub_vision>p>strong {
  font-weight: bold;
}
.circle_wrap {
  position: relative;
}
.circle_wrap h3 {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 25px;
}
.circle_wrap p {
  font-size: var(--T-P);
  text-align: center;
}

.manage_circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 0 auto;
  background: var(--C-orange);
  position: relative;
  top: 190px;
}
.manage_txt {
  position: absolute;
  width: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.circle_wrap img {
  display: block;
  margin: 0 auto;
}
.vision {
  position: absolute;
  left: 50%;
  bottom: 22%;
  transform: translate(-50%, -50%);
}
.vision_txt .st {
  padding-bottom:40px;
}
.value {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
}
.value h3 {
  padding-bottom: 100px;
}
.value_circle_wrap {
  position: absolute;
  left: 50%;
  top: 230px;
  transform: translate(-50%, -50%);
  gap: 100px;
}
.value_circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #FFF0E2;
  position: relative;
}
.value_circle:first-child,
.value_circle:last-child {
  top: -170px;
}
.value_circle strong {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  text-align: center;
  font-weight: bold;
}
.sub_slogan {
  position: relative;
}
.slogan_tit {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.slogan_tit>p {
  font-size: calc(var(--T-H2) - 5px);
  padding-bottom: 60px;
}
.slogan_tit .st {
  font-size: var(--T-H2);
  font-weight: bold;
}
  
.ir_tit,
.brochure_tit {
  text-align: center;
  padding-bottom: 110px;
}
.ir_tit h2,
.brochure_tit h2 {
  font-size: calc(var(--T-H2) - 5px);
  font-weight: bold;
}
iframe {
  width: 100%;
  height: 1000px;
}

.sub_brochure  {
  position: relative;
}
.brochure_wrap {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}
.brochure_tit {
  position: absolute;
  left: 50%;
  top: 345px;
  transform: translateX(-50%);
}
.brochure_tit h2 {
  color: var(--C-white);
}
.brochure_wrap {
  gap: 200px;
}

.brochure_kr,
.brochure_en {
  flex-direction: column;
  width: 400px;
}
.brochure_kr {
  padding-bottom: 100px;
}
.brochure_kr em,
.brochure_en em {
  font-size: 34px;
} 
.button_wrap {
  padding-top: 54px;
}
.button_wrap a {
  display: inline-block;
  font-weight: 400;
  height: 50px;
  font-size: var(--T-P);
  border: none;
  background: none;
  border: 1px solid var(--C-white);
  border-color: transparent transparent var(--C-white) transparent;
}
.button_wrap a:first-child {
  margin-right: 70px;
}