@import url("./common.css");
@import url("./pr_common.css");


.ci_title {
  position: sticky;
  top: 0;
  z-index: 10;
}
.ci_container {
  position: sticky;
  height: calc(100vh * 2);
  top: calc(100% * (1 / 3));
  background: var(--C-white);
  /* transition : .3s */
}
.content_title {
  padding: var(--T-base) 0 calc(var(--T-base) * 1.33);
}
.content_title h4 {
  color: var(--C-orange);
  margin-bottom: var(--T-base);
  font-weight: 600;
}

.content_title h5 {
  color: #999;
}

.ci_logo_content {
  gap: calc(var(--T-base) * 1.33);
}

.scroll_icon {
  top: calc(100vh * 2 / 3);
  transform: translateY(-100%);
  color: var(--C-black);
  /* opacity: 0.5; */
}

.scroll_icon div {
  background: var(--C-black);
  flex-shrink: 0;
}

.color_content {
  gap: 40px;
}

/* 컬러시스템 */
.color_title {
  gap: 49px;
}

.color_name {
  padding: 15px;
  border-radius: 15px;
  color: var(--C-white);
  text-align: center;
  line-height: var(--T-lh);
  cursor: pointer;
  box-sizing: border-box;
  
}
.color_title .ci_orange,
.color_title .ci_blue {
  transition: 1s
}
.color_title .ci_orange {
  color: var(--C-orange);
}
.color_title .ci_orange.active,
.color_title .ci_blue.active {
  color: var(--C-white);
}
.color_title .ci_orange.active {
  background: var(--C-orange);
}
.color_title .ci_blue {
  color: var(--C-blue);
  
}
.color_title .ci_blue.active {
  background: var(--C-blue);
}

.color_circle {
  border-radius: 50%;
  width: 330px;
  height: 330px;
  text-align: left;
  align-items: center;
  color: var(--C-white);
  gap: 16px;
  font-size: 24px;
}

.color_circle {
  background: var(--C-orange);
}
.color_circle .color_code li {
  line-height: 30px;
}
.content_box {
  position: relative;
}
.tag {
  position: absolute;
  right: 75%;
  color: var(--C-orange);
  line-height: var(--T-lh);
}

/* //컬러시스템 */

.ci_content {
  position: relative;
  width: 50%;
  height: calc(100vh * 2 / 3);
}
.ci_content .cop_logo {
  position: absolute;
  top: 30%;
}
.ci_content .cop_logo p {
  margin-top: 50px;
  line-height: var(--T-lh-large);
}
.slogun {
  /* height: 100vh; */
}
.ci_container.slogun {
  gap: 48px;
}

.slogun .content_title {
  align-self: flex-start;
}
.slogun_content {
  gap: 50%;
}
.color,
.ts {
  transition: 0.3s;
}

.orange {
  color: var(--C-orange) !important;
}
.blue {
  color: var(--C-blue) !important;
}
.orangeBG {
  background: var(--C-orange) !important;
}
.blueBG {
  background: var(--C-blue) !important;
}
body {
  background: #fff;
}
