@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400..600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url("normalize.css");
@import url("reset.css");

:root {
  --C-blue: #00427a;
  --C-orange: #f5821f;
  --C-black: #000;
  --C-white: #fff;
  /* 색상 */
  --T-base: 16px;
  --T-H1: calc(var(--T-base) * 4.375); /*70px*/
  --T-H2: calc(var(--T-base) * 3.4375); /*55px*/
  --T-H3: calc(var(--T-base) * 3); /*48px*/
  --T-H4: calc(var(--T-base) * 2.375); /*38px*/
  --T-H5: calc(var(--T-base) * 2); /*32*/
  --T-P: calc(var(--T-base) * 1.5); /*24px*/
  --T-subTitle: calc(var(--T-base) * 1.25); /*20px*/
  --T-breadCrumb: calc(var(--T-base) * 1.25); /*20px*/
  --T-mobileH2: calc(var(--T-base) * 2.5); /*40px*/
  --T-mobileP: var(--T-base); /*16px*/
  /* 폰트 사이즈 */

  --T-lh: 1.46; /*line-height 기본값*/
  --T-lh-large: 1.618; /* 큰 폰트 line-height*/
  /*  */
  --T-mainfont: "Noto Sans KR", sans-serif;
}
.no_scroll {
  height: 100%;
  min-height: 100%;
  overflow: hidden !important;
  touch-action: none;
}

body {
  font-family: var(--T-mainfont);
  box-sizing: border-box;
}
/* ---------------레이아웃 */

.fsz {
  /*full size 레이아웃*/
  width: 100%;
  height: 100vh;
}

section {
  width: 100%;
}

.grid {
  /*컨텐츠가 그리드 안에 위치한다면 추가*/
  padding: 0 8%;
  box-sizing: border-box;
}

/* ---------------//레이아웃 */

/* ---------------정렬 */
.df {
  display: flex;
}

.fdc {
  flex-direction: column;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

/* ---------------// 정렬 */

/* ---------------타이포그래피 */

h2 {
  font-size: var(--T-H2);
  font-weight: bold;
}
h3 {
  font-size: var(--T-H3);
}
h4 {
  font-size: var(--T-H4);
}
h5 {
  font-size: var(--T-H5);
}

p {
  font-size: var(--T-P);
  line-height: var(--T-lh);
}

.fw-n {
  font-weight: normal;
}
.fw-b {
  font-weight: bold;
}

.hidden {
  position: relative;
  left: 0;
  top: -9999px;
  overflow: hidden;
}
html.hidden {
  position: relative;
  left: 0;
  top: 0;
  overflow: auto;
}

/* ---------------타이포그래피 */

/* --------------브레드크럼 */
.breadcrumb {
  gap: 15px;
}
.breadcrumb a {
  font-size: var(--T-breadCrumb);
  display: block;
  text-transform: capitalize;
}
/* 흰색 버전 클래스명 추가*/
.white {
  color: var(--C-white);
}
.w_bg {
  background-color: var(--C-white);
}
/* 검은색 버전 클래스명 추가*/
.black {
  color: var(--C-black);
}
.b_bg {
  background: var(--C-black);
}

/* --------------// 브레드크럼 */
/* 헤더 - 송림    */
#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* height: 120px; */
  overflow: hidden;
  background: transparent;
}
#header.fixed {
  background: var(--C-white);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 8%;
}
.logo a {
  display: block;
}
.gnb_wrap .gnb {
  display: flex;
  gap: 30px;
}
.gnb_wrap .gnb > li {
  text-align: center;
  position: relative;
  width: 152px;
}
.gnb_wrap .gnb > li > a {
  font-size: var(--T-subTitle);
  color: var(--C-white);
  text-decoration: none;
  transition: 0.5s;
  font-weight: 500;
  position: relative;
  display: block;
}
.gnb_wrap .gnb > li > a:after {
  content: "";
  width: 0;
  height: 4px;
  position: absolute;
  bottom: -40px;
  left: 50%;
  border-radius: 30px;
  transform: translateX(-50%);
  background: var(--C-blue);
  transition: all 0.3s;
}
.gnb_wrap .gnb > li > a:hover:after {
  width: 152px;
}
.gnb_wrap .gnb > li > a.on {
  transition: 0.5s;
  color: var(--C-black);
}
.gnb_wrap .depth02 {
  position: absolute;
  left: 0;
  top: 95px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.gnb_wrap .depth02 > li {
  text-align: center;
}
.gnb_wrap .depth02 > li > a {
  text-decoration: none;
  color: var(--C-black);
  text-transform: uppercase;
  transition: color 0.5s;
  font-size: 14px;
  font-weight: 500;
}
.gnb_wrap .depth02 > li > a:hover {
  color: var(--C-blue);
}
.lang_wrap {
  gap: 15px;
}
.lang_wrap a {
  text-decoration: none;
  color: var(--C-white);
  text-transform: uppercase;
  font-size: 18px;
  transition: 0.5s;
}
.lang_wrap a.on {
  transition: 0.5s;
  color: var(--C-black);
}

/* ---------------모바일 header-----------------*/
.m_menu_wrap {
  display: none;
}
.m_menu_btn {
  position: relative;
  width: 30px;
  height: 18px;
  margin: 0;
  border: none;
  background: none;
  display: none;
  cursor: pointer;
}
.m_menu_btn span{
  position: absolute;
  left: 0;
  width: 30px;  
  height: 3px;
  border-radius:10px;
  background: var(--C-white);
  transition: 0.3s;
}
.m_menu_btn span.on{
  background: var(--C-black);
}
.m_menu_btn span:first-of-type{
  top:0;
}
.m_menu_btn span:nth-of-type(2){
  top:8px;
}
.m_menu_btn span:nth-of-type(3){
  top:8px;
}
.m_menu_btn span:last-of-type{
  top:16px;
}
.open span:first-of-type,
.open span:last-of-type {
  display: none;
}
.open span:nth-of-type(2){
  transform: rotate(45deg);
}
.open span:nth-of-type(3) {
  transform: rotate(-45deg);
}
.m_gnb_wrap {
  padding-top: 80px;
}
.m_lang_wrap {
  gap: 15px;
  padding-top: 20px;
}
.m_lang_wrap a {
  position: relative;
}
.m_lang_wrap a:first-child {
  width: 18px;
  height: 18px;
}
.m_lang_wrap a:nth-child(2):after {
  content: '';
  width: 1px;
  height: 12px;
  background: #888;
  position: absolute;
  right: -8px;
  top: 3px;
}

/*-----------모바일 & 태블릿 사이즈-----------*/
@media (min-width: 500px){
  #header {
    height: 120px;
  }
}
@media (max-width: 500px){
  #header {
    height: 72px;

    .gnb_wrap {
      display: none;
    }
    .lang_wrap {
      display: none;
    }
    .logo img {
      width: 120px;
    }
    .header_wrapper {
      height: 72px;
      padding: 0 8%;
    }
  }

  .m_menu_wrap {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background: var(--C-white);
    transform: translateX(100%);
    transition: 0.5s;
    display: block;
    padding: 2% 8%;

    .m_gnb{
      width: 400px;
      flex-direction: column;
      gap: 40px;

      li{
        position: relative;
      }
      em {
        cursor: pointer;
        font-size: 35px;
        position: absolute;
        right: 0;
        top: 0;
      }
      em.open {
        transform: rotate(-180deg);
      }
      .depth02 {
        display: none;
        padding-left: 10px;
        li {
          padding-top: 20px;
          a {
            font-size: var(--T-mobileP);
            display: block;
          }
        }
        li + li {
          padding-top: 10px;
        }
      }
      >li>a {
        color: var(--C-black);
        font-size: var(--T-P);
      
      }
    }
  }
  .m_menu_btn {
    display: block;
    z-index: 1;
  }
  .m_menu_wrap.open {
    transform: translateX(0);
  }
  
}

/* --헤더 - 송림  */

/* 푸터 - 선진  */
#footer {
  display: grid;
  /* height: 200px; */
  grid-template-areas:
    "footer_l center_1 footer_r"
    "footer_l center_2 footer_r";
  grid-template-columns: 0.3fr 0.5fr 0.2fr;
  grid-template-rows: 1fr 1fr;
  /* margin: 27.5% 8% 27.5% 8%; */
}

.footer_left {
  grid-area: footer_l;
  display: flex;
  align-items: center;
}
.f_logo {
  background: url("../images/main/main_header/mirae_logo.png") no-repeat center
    center;
  width: 230px;
  height: 95px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_center_1 * {
  font-size: calc(var(--T-P) - 6px);
  margin-top: 5%;
  grid-area: center_1;
  word-spacing: 40px;
  text-decoration: none;
  color: var(--C-black);
  margin-bottom:2%;
}

.footer_center_2 *{
  font-size:calc(var(--T-P) - 6px);
  line-height: 27px;
  color: var(--C-black);
  grid-area: center_2;
}

.footer_right {
  grid-area: footer_r;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.f_banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;

  img:nth-child(1) {
    width: 82px;
    height: 32px;
  }

  img:nth-child(2) {
    width: 78px;
    height: 54px;
  }
}
.f_sns span a * {
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  color: var(--C-black);
}
.tool {
  position: relative;
}

/*모바일 & 태블릿 사이즈*/
@media screen and (max-width: 768px) {
  #footer {
    display: grid;
    grid-template-areas:
      "footer_l "
      "center_1"
      "center_2"
      "footer_r";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    /* margin: 27.5% 8% 27.5% 8%; */
  }

  .footer_left {
    grid-area: footer_l;
    margin-left:5%;
  }
  .f_logo {
    margin: 0 0;
  }

  .footer_center_1 {
    grid-area: center_1;
       text-align: center;
    p a{
    font-size: calc(var(--T-mobileP) - 2px);
    margin-top: 5%;
    word-spacing: 40px;
    text-decoration: none;
    color: var(--C-black);
 
  }
}

  .footer_center_2 {
    grid-area: center_2;
    p{
    font-size: calc(var(--T-mobileP));
    line-height: 27px;
    color: var(--C-black);
    text-align: center;
    }
  

  .footer_right {
    grid-area: footer_r;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .f_banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;

    img:nth-child(1) {
      width: 82px;
      height: 32px;
    }

    img:nth-child(2) {
      width: 78px;
      height: 54px;
    }
  }
  .f_sns span a * {
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    color: var(--C-black);
  }
  .tool {
    position: relative;
  }


/*== tool tip ==*/
.tool::before,
.tool::after {
  left: 50%;
  opacity: 0;
  position: absolute;
  z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
  opacity: 1;
  transform: scale(1) translateY(0);
  z-index: 100;
}

/*== pointer tip ==*/
.tool::before {
  border-style: solid;
  border-width: 1em 0.75em 0 0.75em;
  border-color: #3e474f transparent transparent transparent;
  bottom: 100%;
  content: "";
}

/*== speech bubble ==*/
.tool::after {
  background: #3e474f;
  border-radius: 0.25em;
  bottom: 160%;
  color: #edeff0;
  content: attr(data-tip);
  padding: 1em;
}
  }}
/* --푸터 - 선진 */

/* backTotop - 준범 */
.navigator {
  position: fixed;
  bottom: 50px;
  right: 150px;
  z-index: 100;
}
.navigator .backToTop {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  background-color: #444;
  border-radius: 50%;
  color: #fff;
  opacity: 0;
  /* visibility: hidden; */
  pointer-events: none;
  transition: 0.5s;
}
.backToTop.active {
  opacity: 0.9;
  /* visibility: visible; */
  pointer-events: auto;
}

/* --backToTop - 준범*/

/* --Scroll down 아이콘 */

.scroll_icon {
  position: absolute;
  left: 50%;
  
  transform: translateX(-50%);
  color: var(--C-white);
  text-transform: capitalize;
  animation: twinkle 2s ease-in-out infinite;
}
@keyframes twinkle {
  0% {
    color: var(--C-blue);
  }
  50% {
    color: var(--C-orange);
  }
  100% {
    color: var(--C-blue);
  }
}
.scroll_icon span {
  font-size: var(--T-P);
  line-height: calc(var(--T-P) * 1.618);
}
.scroll_icon div {
  background: var(--C-white);
  text-indent: -9999em;
  animation: twinkle2 2s ease-in-out infinite;
}

@keyframes twinkle2 {
  0% {
    background: var(--C-blue);
  }
  50% {
    background: var(--C-orange);
  }
  100% {
    background: var(--C-blue);
  }
}
.scroll_icon div:first-of-type {
  width: 3px;
  height: 40px;
}
.scroll_icon div:last-child {
  width: 1px;
  height: 30px;
}
/* --//Scroll down 아이콘 */
