@import url("normalize.css");
@import url("reset.css");

:root {
  --C-blue: #00427a;
  --C-orange: #f5821f;
  --C-black: #000;
  --C-white: #fff;
  /* 색상 */
  --T-base: 16px;
  --T-H1: calc(var(--T-base) * 4.375); /*70px*/
  --T-H2: calc(var(--T-base) * 3.4375); /*55px*/
  --T-H3: calc(var(--T-base) * 3); /*48px*/
  --T-H4: calc(var(--T-base) * 2.375); /*38px*/
  --T-P: calc(var(--T-base) * 1.5); /*24px*/
  --T-subTitle: calc(var(--T-base) * 1.25); /*20px*/
  --T-breadCrumb: calc(var(--T-base) * 1.25); /*20px*/
  --T-mobileH2: calc(var(--T-base) * 2.5); /*40px*/
  --T-mobileP: var(--T-base); /*16px*/
  /* 폰트 사이즈 */

  --T-mainfont: "Noto Sans KR", sans-serif;
}
* {
  font-family: var(--T-mainfont);
}
/* ---------------레이아웃 */

.fsz {
  /*full size 레이아웃*/
  width: 100%;
  height: 100vh;
}

section {
  width: 100%;
}

.grid {
  /*컨텐츠가 그리드 안에 위치한다면 추가*/
  padding: 0 8%;
}

/* ---------------//레이아웃 */

/* ---------------정렬 */
.df {
  display: flex;
}

.fdc {
  flex-direction: column;
}

.jcc {
  justify-content: center;
}

.acc {
  align-content: center;
}
/* ---------------// 정렬 */

/* ---------------타이포그래피 */
h2 {
  font-size: var(--T-H2);
  font-weight: bold;
}

p {
  font-size: var(--T-P);
}

.hidden {
  position: relative;
  left: 0;
  top: -9999px;
  overflow: hidden;
}

/* ---------------타이포그래피 */

/* 헤더 - 송림    */
#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 120px;
  transition: 0.3s;
  overflow: hidden;
  background: transparent;
}
#header.fixed {
  transition: 0.3s;
  background: var(--C-white);
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 8%;
}
.gnb_wrap .gnb {
  display: flex;
  gap: 30px;
}
.gnb_wrap .gnb > li {
  text-align: center;
  position: relative;
  width: 152px;
}
.gnb_wrap .gnb > li > a {
  font-size: var(--T-subTitle);
  color: var(--C-white);
  text-decoration: none;
  transition: 0.5s;
  font-weight: 500;
}
.gnb_wrap .gnb > li > a.on {
  transition: 0.5s;
  color: var(--C-black);
}
.gnb_wrap .depth02 {
  position: absolute;
  left: 0;
  top: 75px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.gnb_wrap .depth02 > li {
  text-align: center;
}
.gnb_wrap .depth02 > li > a {
  text-decoration: none;
  color: var(--C-black);
  text-transform: uppercase;
  transition: color 0.5s;
  font-size: 14px;
  font-weight: 500;
}
.gnb_wrap .depth02 > li > a:hover {
  color: var(--C-blue);
}
.lang_wrap {
  display: flex;
  gap: 15px;
}
.lang_wrap a {
  text-decoration: none;
  color: var(--C-white);
  text-transform: uppercase;
  font-size: 18px;
  transition: 0.5s;
}
.lang_wrap a.on {
  transition: 0.5s;
  color: var(--C-black);
}

/* --헤더 - 송림  */

/* 푸터 - 선진  */
#footer {
  display: grid;
  height: 200px;
  grid-template-areas:
    "footer_l center_1 footer_r"
    "footer_l center_2 footer_r";
  grid-template-columns: 0.3fr 1fr 0.2fr;
  grid-template-rows: 1fr 1fr;
  margin: 27.5% 8% 27.5% 8%;
}

.footer_left {
  grid-area: footer_l;
  display: flex;
  align-items: center;
}
.f_logo {
  background: url("../images/mirae_logo.png") no-repeat center center;
  width: 230px;
  height: 95px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_center_1 * {
  font-size: var(--T-subTitle);
  font-weight: bold;
  margin-top: 5%;
  grid-area: center_1;
  word-spacing: 40px;
  text-decoration: none;
  color: var(--C-black);
}

.footer_center_2 {
  font-size: var(--T-subTitle);
  font-weight: bold;
  line-height: 27px;
  color: var(--C-black);

  grid-area: center_2;
}

.footer_right {
  grid-area: footer_r;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.f_banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;

  img:nth-child(1) {
    width: 82px;
    height: 32px;
  }

  img:nth-child(2) {
    width: 78px;
    height: 54px;
  }
}
.f_sns span a * {
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  color: var(--C-black);
}
.tool {
  position: relative;
}

/*모바일 & 태블릿 사이즈*/
@media screen and (max-width: 768px) {
  #footer {
    display: grid;
    grid-template-areas:
      "footer_l "
      "center_1"
      "center_2"
      "footer_r";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 27.5% 8% 27.5% 8%;
  }

  .footer_left {
    grid-area: footer_l;
  }
  .f_logo {
    margin: 0 0;
  }

  .footer_center_1 * {
    grid-area: center_1;
    font-size: var(--T-mobileP);
    font-weight: bold;
    margin-top: 5%;
    word-spacing: 40px;
    text-decoration: none;
    color: var(--C-black);
    text-align: center;
  }

  .footer_center_2 {
    grid-area: center_2;
    font-size: var(--T-subTitle);
    font-weight: bold;
    line-height: 27px;
    color: var(--C-black);
    text-align: center;
  }

  .footer_right {
    grid-area: footer_r;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .f_banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;

    img:nth-child(1) {
      width: 82px;
      height: 32px;
    }

    img:nth-child(2) {
      width: 78px;
      height: 54px;
    }
  }
  .f_sns span a * {
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    color: var(--C-black);
  }
  .tool {
    position: relative;
  }
}

/*== tool tip ==*/
.tool::before,
.tool::after {
  left: 50%;
  opacity: 0;
  position: absolute;
  z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
  opacity: 1;
  transform: scale(1) translateY(0);
  z-index: 100;
}

/*== pointer tip ==*/
.tool::before {
  border-style: solid;
  border-width: 1em 0.75em 0 0.75em;
  border-color: #3e474f transparent transparent transparent;
  bottom: 100%;
  content: "";
}

/*== speech bubble ==*/
.tool::after {
  background: #3e474f;
  border-radius: 0.25em;
  bottom: 160%;
  color: #edeff0;
  content: attr(data-tip);
  padding: 1em;
}

/* --푸터 - 선진 */
