.sub_company_slide {
    position: relative;
    height: 1000px;
    /* padding-top: 220px; */
  }
.company {
    width: 150px;
    height: 250px;
    list-style: none;
    position: absolute;
    bottom: 0;
    transform: translateY(-50%);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
  
    figure {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &:nth-child(1), &:nth-child(2) {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: none;
      border-radius: 0;
      box-shadow: none;
    }
    &:nth-child(3) {left: 31%;}
    &:nth-child(4) {left: calc(31% + 200px);}
    &:nth-child(5) {left: calc(31% + 400px);}
    &:nth-child(6) {left: calc(31% + 600px);}
    &:nth-child(7) {left: calc(31% + 800px); opacity: 0;}
    &:nth-child(8) {left: calc(31% + 1000px); opacity: 0;}
  }
  figcaption {
    width: 100%;
    position: absolute;
    left: 153px;
    top: 244px;
    color: #fff;
    text-shadow: 0 3px 8px rgba(0, 0, 0, .5);
    /* opacity: 0; */
    /* visibility: hidden; */
  
    h2 {
        font-size: var(--T-H3);
        padding-bottom: 40px;
    }
    p{
      font-size: var(--T-P);
    }
  }
  .item:nth-child(2) figcaption {
    visibility: visible;
    animation: show 0.75s ease-in-out 0.3s forwards;
  }
  @keyframes show {
    0% {
      opacity: 0;
      filter:blur(5px);
      transform: translateY(calc(-50% + 75px));
    }
    100% {
      opacity: 1;
      filter:blur(0);
    }
  }
  
  .company_nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 14rem;
    display: flex;
    justify-content: space-around;
    .btn {
      width: 60px;
      height: 60px;
      cursor: pointer;
      color: rgba(255, 255, 255, .5);
      &:hover {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
  .back_area {
    height: 700px;
    background: url(/images/sub/sub_company/logo_bg.png) no-repeat 50% 50%;
    
  }
  .back_tit {
    text-align: center;
    line-height: var(--T-lh-large);
    /* transform: translateY(220%); */
    padding-top: 270px;
  }
