:root {
  --C-blue: #00427a;
  --C-orange: #f5821f;
  --C-black: #000;
  --C-white: #fff;
  /* 색상 */
  --T-base: 16px;
  --T-H1: calc(var(--T-base) * 4.375); /*70px*/
  --T-H2: calc(var(--T-base) * 3.4375); /*55px*/
  --T-H3: calc(var(--T-base) * 3); /*48px*/
  --T-H4: calc(var(--T-base) * 2.375); /*38px*/
  --T-P: calc(var(--T-base) * 1.5); /*24px*/
  --T-subTitle: calc(var(--T-base) * 1.25); /*20px*/
  --T-breadCrumb: calc(var(--T-base) * 1.25); /*20px*/
  --T-mobileH2: calc(var(--T-base) * 2.5); /*40px*/
  --T-mobileP: var(--T-base); /*16px*/
  /* 폰트 사이즈 */

  --T-mainfont: "Noto Sans KR", sans-serif;
}
* {
  font-family: var(--T-mainfont);
  box-sizing: border-box;
}


h2{
  font-size:var(--T-H2);
  margin-top: 125px;
  line-height: 80px;
}
.subtitle{
p{
  line-height: 35px;
  margin-bottom:112px;
  margin-left: 8%;
}
.breadcrumb {
  display: flex;
  justify-content: end;
  font-size: var(--T-breadCrumb);
  margin-right:153px;
  margin-bottom:58px;
}
.breadcrumb li:nth-child(n+2):before{
  content:' > ';
}
}

.breadcrumb *{
text-decoration: none;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 8%;
  justify-content: center;
  align-items: center;
}
.article{
  width: 1344px;
  height: 587px;
  border: 1px solid #ebebeb;
  border-radius: 20px;
  margin: 20px;
  border: 1px solid #F5821F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.article:nth-child(2),
.article:nth-child(3){
  width: 1344px;
  height: 60px;
  border: 1px solid #ebebeb;
  border-radius: 20px;
  margin: 20px;
  border: 1px solid #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.article_contents{
  display: block;
}
.article_contents:nth-child(2),
.article_contents:nth-child(3){
  display: none;
}


.article_title{
  font-size: large;
}
.form{
  text-align: right;
  margin:auto 8%;
}
.date,.source{
font-size:var(--T-P);
}
.date{
font-weight: Semi Bold;
}
.source{
  font-weight: medium;
  }
  .article_title{
    font-size: 30px;
    font-weight: 41px;
    padding: 20px;
  }
  .article_contents{
    font-size: var(--T-P);
    padding: 20px;
  }
  .article_date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-top:50px;
  }
  .pagination .pager.active{
    display: block;
background-color:#00427a;
color:#ebebeb;
  }