:root {
  --C-blue: #00427a;
  --C-orange: #f5821f;
  --C-black: #000;
  --C-white: #fff;
  /* 색상 */
  --T-base: 16px;
  --T-H1: calc(var(--T-base) * 4.375);
  /*70px*/
  --T-H2: calc(var(--T-base) * 3.4375);
  /*55px*/
  --T-H3: calc(var(--T-base) * 3);
  /*48px*/
  --T-H4: calc(var(--T-base) * 2.375);
  /*38px*/
  --T-P: calc(var(--T-base) * 1.5);
  /*24px*/
  --T-subTitle: calc(var(--T-base) * 1.25);
  /*20px*/
  --T-breadCrumb: calc(var(--T-base) * 1.25);
  /*20px*/
  --T-mobileH2: calc(var(--T-base) * 2.5);
  /*40px*/
  --T-mobileP: var(--T-base);
  /*16px*/
  /* 폰트 사이즈 */

  --T-mainfont: "Noto Sans KR", sans-serif;
}

* {
  font-family: var(--T-mainfont);
  box-sizing: border-box;
}

#header {
  visibility: hidden !important;
}

.invest_sub {
  height: 100vh;
}

h2 {
  margin-top: 125px;
  line-height: 80px;
  font-size: calc(var(--T-base) * 3.4375);
  font-weight: medium;
}

h3 {
  font-size: calc(var(--T-base) * 3);
}

h4 {
  font-size: var(--T-H4);
  line-height: 52px;
  margin-top: var(--T-P);
  margin-bottom: calc(var(--T-base) * 4.25);
}

.subtitle {
  .breadcrumb {
    display: flex;
    justify-content: end;
    font-size: var(--T-breadCrumb);
    margin-right: 153px;
    margin-bottom: 58px;
  }

  .breadcrumb li:nth-child(n+2):before {
    content: ' > ';
  }

  p {
    font-size: var(--T-subTitle);
    line-height: 35px;
    margin-bottom: 112px;
    display: flex;
  }
}
p {
  font-size: var(--T-subTitle);
}
.invest_contents {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 0 28%;
text-align: center;
}
.s_contents{
  width: calc(33.33% - 60px); /* 각각의 박스는 33.33%의 너비를 가집니다. 여백을 고려하여 계산합니다. */
  margin: 10px auto;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
  position: relative;
}
.s_contents:nth-child(2){
  animation: slide1 5s ease infinite;
  cursor: pointer;
  &:hover {
    animation-play-state: paused;}
}
@keyframes slide1 {
  0% {
   left: 0;
   top: 0;
  }
  25% {
    left: 0;
    top: 5px;
   }
  50% {
   left: 5px;
   top: 0px;
  }
  75% {
    left: 0px;
    bottom: 5px;
   }
  100% {
   left: 0;
   top: 0;
  }}

  .s_contents:nth-child(4){
    animation: slide2 5s ease infinite;
    cursor: pointer;
    &:hover {
      animation-play-state: paused;}
  }
  @keyframes slide2 {
    0% {
     left: 0;
     top: 0;
    }
    25% {
      left: 0px;
      bottom: 5px;
     }
    50% {
     left: 5px;
     top: 0px;
    }
    75% {
      left: 0;
      top: 5px;
     }
    100% {
     left: 0;
     top: 0;
    }}

    .s_contents:nth-child(6){
      animation: slide3 5s ease infinite;
      cursor: pointer;
      &:hover {
        animation-play-state: paused;}
    }
    @keyframes slide3 {
      0% {
       left: 0;
       top: 0;
      }
      25% {
        left: 0px;
        top: 5px;
       }
      50% {
       right: 5px;
       top: 0px;
      }
      75% {
        left: 5px;
        top: 5px;
       }
      100% {
       left: 0;
       top: 0;
      }}

      .s_contents:nth-child(8){
        animation: slide4 5s ease infinite;
        cursor: pointer;
        &:hover {
          animation-play-state: paused;}
      }
      @keyframes slide4 {
        0% {
         left: 0;
         top: 0;
        }
        10%{
          left: 0px;
          bottom: 5px;
        }
        25% {
          left: 0px;
          bottom: 10px;
         }
        50% {
         left: 5px;
         top: 0px;
        }
        75% {
          left: 0;
          top: 5px;
         }
        100% {
         right: 5px;
         top: 0;
        }}
.s_contents img{
  width: 130px;
  text-align: center;
  display: inline-block;
  /* position: absolute; */
}

.iv_dsc {
  position: absolute;
  width: 180px;
  background: rgba(217, 217, 217, 0.5);
  border-radius: 20px;
  padding: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.iv_dsc:nth-child(1){
  left: 980px;
  top: 350px;
}
.iv_dsc:nth-child(2){
  left: 285px;
  top: 560px;

}

.iv_dsc:nth-child(3){
  left: 1245px;
  top: 563px;

}

.iv_dsc:nth-child(4){
  left: 982px;
  top: 840px;
}

h5 {
  text-align: right;
  position: sticky;
  top: 80px;
  padding: 10px 0;
}
h5 a{
  display: inline-block;
  border-radius: 50%;
  background:gray;
}

.channel_banner {
  width: 1614px;
  height: 216px;
  background: #f5821f;
  margin: 0 auto;
  background: url(../images/sub/sub_csr/channels_banner.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.magazine_sage,
.magazine_invest {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  gap: 30px;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}

.magazine_sage .sage,
.magazine_invest .invest {
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  width: 300px;
  height: 400px;
  justify-content: center;
  margin: 2rem 10px;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  transition: background-color 0.5 ease,
    color 0.5s ease,
    transform 0.5s ease;
}

.magazine_sage:hover .sage,
.magazine_sage:focus .sage,
.magazine_sage:active .sage,
.magazine_invest:hover .invest,
.magazine_invest:focus .invest,
.magazine_invest:active .invest {
  transform: perspective(500px) rotateY(30deg);
  transition: 0.3s;
}

.magazine_sage .sage:hover,
.magazine_sage .sage:focus,
.magazine_sage .sage:active,
.magazine_invest .invest:hover,
.magazine_invest .invest:focus,
.magazine_invest .invest:active {
  transform: perspective(500px) rotateY(0);
}

.magazine_sage .sage:hover~.sage,
.magazine_sage .sage:focus~.sage,
.magazine_sage .sage:active~.sage,
.magazine_invest .invest:hover~.invest,
.magazine_invest .invest:focus~.invest,
.magazine_invest .invest:active~.invest {
  transform: perspective(500px) rotateY(-30deg);
  transition: 0.3s;
}

.magazine_sage .sage p,
.magazine_invest .invest p {
  background: #2196f3;
  opacity: 0.8;
  color: #fff;
  text-align: center;
  transition: box-shadow 0.5s ease;
  visibility: hidden;

}

.magazine_sage .sage:hover p,
.magazine_sage .sage:focus p,
.magazine_sage .sage:active p,
.magazine_invest .invest:hover p,
.magazine_invest .invest:focus p,
.magazine_invest .invest:active p {
  background-color: #fff;
  box-shadow: 0 0 0 200px #000;
  color: #2196f3;
  opacity: 0.8;
  transition: 0.5s ease;
  visibility: inherit;
}


.sage:nth-child(1) {
  background: url(../images/sub/sub_csr/sage_1.png) no-repeat;
  object-fit: cover;
}

.sage:nth-child(2) {
  background: url(../images/sub/sub_csr/sage_2.png) no-repeat;
  object-fit: cover;
}

.sage:nth-child(3) {
  background: url(../images/sub/sub_csr/sage_3.png) no-repeat;
  object-fit: cover;
}

.sage:nth-child(4) {
  background: url(../images/sub/sub_csr/sage_4.png) no-repeat;
  object-fit: cover;
}

.sage:nth-child(5) {
  background: url(../images/sub/sub_csr/sage_5.png) no-repeat;
  object-fit: cover;
}

.invest:nth-child(1) {
  background: url(../images/sub/sub_csr/invest_1.png) no-repeat;
  object-fit: cover;
}

.invest:nth-child(2) {
  background: url(../images/sub/sub_csr/invest_2.png) no-repeat;
  object-fit: cover;
}

.invest:nth-child(3) {
  background: url(../images/sub/sub_csr/invest_3.png) no-repeat;
  object-fit: cover;
}

.invest:nth-child(4) {
  background: url(../images/sub/sub_csr/invest_4.png) no-repeat;
  object-fit: cover;
}

.invest:nth-child(5) {
  background: url(../images/sub/sub_csr/invest_5.png) no-repeat;
  object-fit: cover;
}