/* layout */
.dummy {
  position: absolute;
  top: 0;
  left: 0;
}

#header {
  display: none !important;
}
/* //layout */

/* position */
.left {
  margin-right: 14%;
}
.right {
  margin-left: 14%;
}
/* //position */

/* 브래드크럼 */
.gm_container {
  position: relative;
}
.breadcrumb {
  position: absolute;
  top: calc(100vh * 0.53);
  right: calc(100% * 0.14);
}
/* 브래드크럼 */

/* 글로벌 미래에셋 메인 */
section {
  /* background: #fff; */
}
.global_main {
  width: 100%;
  height: 100vh;
  background: var(--C-blue);
}
.global_main .gm_main_title,
.mainBg_container .main_m {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.mainBg_container .main_m {
  left: 50%;
  transform: translate(-50%, -50%);
}

.global_main .gm_main_title {
  color: var(--C-white);
  right: 304px;
  gap: 16px;
}
.gm_main_title h2 {
  text-align: right;
  order: 2;
}
.mainBg_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.global_main .large_m {
  position: absolute;
  bottom: -48px;
  right: 736px;
}

/* //글로벌 미래에셋 메인 */

/* 글로벌 미래에셋 컨텐츠 : 타이틀*/
.gm_container {
  width: 100%;
  height: 100vh;
}
.gm_sub_title {
  position: relative;
  width: 86%;
  height: calc(100vh / 2);
}
.gm_sub_title h2 {
  position: absolute;
  color: var(--C-white);
  font-size: calc(var(--T-base) * 6);
}
.gm_sub_title img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gm_sub_title.left h2 {
  right: 30px;
  top: 30px;
}

.gm_sub_title.right h2 {
  left: 30px;
  bottom: 30px;
}

/* //글로벌 미래에셋 컨텐츠 : 타이틀*/

/*  글로벌 미래에셋 컨텐츠 : 내용*/
.fp-table {
  justify-content: flex-start;
}

.gm_content {
  padding-top: 85px;
  line-height: 1.46;
  color: var(--C-blue);
}

.gm_content h3 {
  font-weight: 500;
  padding-bottom: 52px;
}

strong,
.strong {
  color: var(--C-orange);
}

.move_link {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 32px;
  left: 72%;
  top: 75%;
  transform: translateY(-50%);
}

/* //글로벌 미래에셋 컨텐츠 : 내용*/


.scroll_icon {
  bottom: 0;
}