.root {
  --line: 0px;
}
.lf {
  text-align: left;
  transform: translateX(400px);
}
.rg {
  text-align: right;
  transform: translateX(-400px);
}
.sub_history {
  padding: 500px 0 300px 0;
}
.history_wrap {
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.history_wrap .history_base_line {
  content: '';
  position: absolute;
  left: 50%;
  top: -155px;
  transform: translateX(-50%);
  width: 10px;
  height: 4800px;
  border: 2px solid var(--C-orange);
  opacity: .5;
  border-radius: 30px;
  padding: 3px;
}
.history_wrap .history_hidden_line {
  content: '';
  position: absolute;
  left: 50%;
  top: -150px;
  transform: translateX(-50%);
  width: 10px;
  height: var(--line);
  background: var(--C-orange);
  border-radius: 30px;
}

.history_txt {
  text-align: center;
}
.history_txt strong {
  display: block;
  font-size: var(--T-H3);
  font-weight: bold;
  padding-bottom: 28px;
}
.history_txt p {
  font-size: var(--T-P);
  padding-bottom: 40px;
}

.history_txt:nth-child(3),
.history_txt:nth-child(5),
.history_txt:nth-child(6),
.history_txt:nth-child(8),
.history_txt:nth-child(10) {
  padding-bottom: 160px;
}