@import url("./common.css");

/* 메인영상 - 준범  */
.main_video {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background-color: #4d4e51;
}
.video_content {
  position: relative;
  color: var(--C-white);
}
.video_content .video_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.video_title h2 {
  font-size: calc(var(--T-base) * 6);
  margin-bottom: var(--T-P);
  text-transform: capitalize;
  font-weight: normal;
}
.video_title p {
  font-size: calc(var(--T-base) * 2);
  text-transform: uppercase;
}
.main_video video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.first_main {
  position: relative;
}

.first_main h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--C-white);
  text-transform: capitalize;
  font-weight: normal;
}

/* --메인영상 - 준범  */

/* 경영철학 - 선진    */
/* --경영철학 - 선진  */

/* 수상이력 - 송림    */
.test {
  height: 1000px;
  background: #eee;
}
*{
  font-family: var(--mainfont);
}
.hidden {
  position: relative;
  left: 0;
  top: -9999px;
  overflow: hidden;
}
.main_award {
  padding: 140px 14%;

}
.main_award .content {
  display: flex;
  justify-content: space-between;
  gap: 200px;
}
.year_wrap {
  width: 50%;

}
.year_wrap img {
  display: block;
  margin: 0 auto;
}
.year_wrap .year_txt em {
  font-size: var(--H3);
  text-align: center;
  display: block;
  font-weight: 600;
}
.year_wrap .year_txt p {
  font-size: var(--P);
  text-align: center;
  font-weight: 400;
  padding: 40px 0 80px 0;
}
.main_award .slidewrapper {
  width: 760px;
}
.award_slide .slide_txt {
  padding-bottom: 75px;
}
.award_slide .slide_txt em {
  font-size: 30px;
  font-weight: 500;
  color: var(--blue);
  display: block;
  padding-bottom: 25px;
}
.award_slide .slide_txt>p {
  font-size: 20px;
  color: var(--black);
}

/* --수상이력 - 송림  */

/* 수치자료 - 준범  */
.test {
  height: 100vh;
}
.main_numerical_data {
  position: relative;
  width: 100%;
  /* height: 300vh; */
  padding-top: 200vh;
  background: linear-gradient(#fff, #000 66%);
  color: var(--C-white);
}
.increase_number {
  /* position: absolute;
  top: 200vh; */
  /* padding-top: 176px; */
  position: relative;
  height: 100vh;
  padding-top: 176px;
  font-weight: bold;
}

.title_content {
  margin: 176px 0 143px;
}
.title_content h2 {
  margin-bottom: var(--T-P);
}
.title_content h3 {
  font-size: var(--T-P);
}
.data_content {
  gap: 129px;
}
.data_content .left_data,
.data_content .right_data {
  gap: 144px;
}
.data_content .textbox {
}

.data_content span {
  font-size: calc(var(--T-base) * 2.25);
  margin-right: 21px;
}
.data_content .strong {
  font-size: calc(var(--T-base) * 4.5);
}

.data_content p {
  margin-top: var(--T-base);
}

.increase_number img {
  position: absolute;
  top: calc(50% + 88px);
  right: 8%;
  /* right: 8%; */
  transform: translateY(-50%);
}
.profit_data {
  position: relative;
  background-color: #000;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.profit_data h2,
.profit_scroll_wrapper {
  position: absolute;
  z-index: 10;
}

.profit_data h2 {
  top: 50%;
  left: 340px;
  transform: translateY(-50%);
  font-weight: normal;
}
.profit_scroll_wrapper {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
/* .profit_scroll_container{
  width: 100%;
  height: 300%;
} */

.profit_scroll_wrapper ul {
  position: absolute;
  padding: 100vh 0;
  left: 1234px;
  display: flex;
  flex-direction: column;
  gap: 120px;

}
.profit_scroll_wrapper ul li {
  text-align: center;
  opacity: 0.5;
}
.profit_scroll_wrapper ul li:active {
  opacity: 1;
}
.profit_scroll_wrapper ul li span{
  font-size: 72px;
  font-weight: bold;
}


.profit_data img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* opacity: 0; */
}

.profit_data img:active {
  opacity: 1;
}
/* --수치자료 - 준범  */

/* 사회공헌 - 선진  */
/* --사회공헌 - 선진  */

/* 뉴스 - 준범  */
/* --뉴스 - 준범 */

