.test {
    height: 1000px;
    background: #eee;
}
*{
    font-family: var(--mainfont);
}
.hidden {
    position: relative;
    left: 0;
    top: -9999px;
    overflow: hidden;
}
.main_award {
    padding: 140px 14%;

}
.main_award .content {
    display: flex;
    justify-content: space-between;
    gap: 200px;
}
.year_wrap {
    width: 50%;

}
.year_wrap img {
    display: block;
    margin: 0 auto;
}
.year_wrap .year_txt em {
    font-size: var(--H3);
    text-align: center;
    display: block;
    font-weight: 600;
}
.year_wrap .year_txt p {
    font-size: var(--P);
    text-align: center;
    font-weight: 400;
    padding: 40px 0 80px 0;
}
.main_award .slidewrapper {
    width: 760px;
}
.award_slide .slide_txt {
    padding-bottom: 75px;
}
.award_slide .slide_txt em {
    font-size: 30px;
    font-weight: 500;
    color: var(--blue);
    display: block;
    padding-bottom: 25px;
}
.award_slide .slide_txt>p {
    font-size: 20px;
    color: var(--black);
}