:root {
  --clip-left: 30%;
  --clip-right: 70%;
}

#header {
  /* display: none !important; */
}

@import url('./common.css');
/* 팝업 - 송림 */
.popup {
  width: 550px;
  height: 710px;
  padding: 40px 30px;
  position: fixed;
  left: 100px;
  top: 68px;
  background: var(--C-white);
  z-index: 100;
  border: 4px solid var(--subcol);
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.25);
  font-weight: 500;
  opacity: 1;
  visibility: visible;
  transition: opacity 1s;
}
.popup img {
  display: block;
  margin: 0 auto 30px;
}
.pophd {
  padding-bottom: 5px;
}
.popct_wrap {
  padding: 10px 0;
}
.popct_wrap .st {
  font-weight: 600;
}
.popup hr {
  border: 1px dashed #333;
}
.workset {
  gap: 50px;
}
.workset_area01 > p,
.workset_area02 > p {
  margin-top: 15px;
}
.popup strong {
  color: var(--C-blue);
}
.popup p {
  font-size: var(--T-base);
  margin-bottom: 10px;
}
.popup .link {
  gap: 20px;
}
.popup .link a {
  position: relative;
}
.popup .link .git:after {
  content: '';
  position: absolute;
  right: -30px;
  top: -5px;
  background: url(../images/main/main_header/git_img.jpeg) no-repeat;
  width: 30px;
  height: 30px;
}
.cookie {
  display: inline-block;
  position: absolute;
  left: 30px;
  bottom: 30px;
}
.cookie input {
  width: 17px;
  height: 17px;
  border: 1px solid #9b9b9b;
  vertical-align: top;
  margin-left: 6px;
  -webkit-appearance: button;
  appearance: button;
}
.popup button {
  background: var(--C-blue);
  color: #fff;
  border-radius: 3px;
  border: none;
  width: 60px;
  height: 30px;
  position: absolute;
  right: 40px;
  bottom: 20px;
  cursor: pointer;
}
.popup.hide {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
}
/* //팝업 - 송림 */

/* 메인영상 - 준범  */
.main_video {
  width: 100%;
  /* height: 100vh; */
  /* overflow: hidden; */
  background-color: #4d4e51;
}
.video_wrapper {
  position: relative;
  height: 100vh;
}
.first_main {
  width: 100%;
  height: 100vh;
}
.first_main .first_down_bg {
  position: absolute;
  top: 0%;
  left: 50%;
  margin: 0 auto;
  /* gap: 30px; */
  transform: translate(-50%, -100%);
  z-index: 10;
  width: 200px;
  height: 112px;
}

.first_main .first_down_bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.first_main h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
  font-weight: normal;
  opacity: 0;
}

.video_content {
  position: absolute;
  color: var(--C-white);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s;
  text-align: center;
}
.video_content.active {
  opacity: 1;
}

.video_content .video_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video_title h2 {
  font-size: calc(var(--T-base) * 6);
  margin-bottom: var(--T-P);
  text-transform: capitalize;
  font-weight: normal;
  white-space: nowrap;
}
.video_title p {
  font-size: calc(var(--T-base) * 2);
  text-transform: uppercase;
}
.main_video video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* --메인영상 - 준범  */

/* 경영철학 - 선진    */
.vision_title {
  position: relative;
  width: 100vw;
  overflow: hidden;
  font-size: calc(var(--T-base) * 4);
  color: var(--C-black);
  font-weight: bold;
  margin: auto 9%;
  padding: 5% 0;
  line-height: 100px;
  height: 80vh;
}
.vision_scroll {
  position: relative;
  height: 420vh;
  /* overflow: hidden; */
}

.visionBG {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
}
.visionBG img {
  clip-path: polygon(var(--clip-left) 0, var(--clip-right) 0, var(--clip-right) 100%, var(--clip-left) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: clip-path 0.1s, opacity 0.5s;
  background: #000;
}
.visionBG img.active {
  opacity: 1;
}

.vision_scroll_wrapper ul {
  position: absolute;
  top: 100vh;
  /* padding: 100vh 0; */
  display: flex;
  flex-direction: column;
  color: var(--C-white);
  left: 820px;
  width: 1080px;
  gap: 300px;
  margin-right: 20px;
}

.vision_scroll_wrapper ul li {
  opacity: 0.3;
  transition: 0.5s;
  h2 {
    font-size: 55px;
    font-weight: bold;
    line-height: 80px;
    margin-bottom: 3%;
  }
  p {
    font-size: 48px;
    line-height: 58px;
  }
}
.vision_scroll_wrapper ul li.active {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .vision_title {
    width: 100vw;
    height: 50vh;
    font-size: var(--T-H5);
    margin: 1% 2%;
    padding: 0 0;
    line-height: auto;
  }

  .vision_scroll_wrapper ul {
    position: absolute;
    top: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--C-white);
    left: 25%;
    width: auto;
    gap: 300px;
  }

  .vision_scroll_wrapper ul li {
    opacity: 0.3;
    transition: 0.5s;
    h2 {
      font-size: 22px;
      font-weight: bold;
      line-height: 55px;
      margin-bottom: 3%;
    }
    p {
      font-size: var(--T-mobileP);
      line-height: 50px;
    }
  }
}
/* --경영철학 - 선진  */

/* 수상이력 - 송림    */
:root {
  --scale: 3.5;
}

.main_award {
  background: var(--C-white);
  padding: 290px 0 350px 0;
}
.main_award .content {
  justify-content: space-between;
  position: relative;
  align-items: flex-start;
  z-index: 10;
}
.main_award .content img:first-of-type {
  width: 500px;
  transform-origin: 14% 100%;
  transform: scale(var(--scale));
}
.main_award .content:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background: #ccc;
  z-index: -1;
}
.year_wrap {
  width: 50%;
  height: 592px;
  position: sticky;
  left: 0;
  top: 0;
}

.year_wrap img {
  display: block;
  margin: 0 auto;
}
.year_wrap .year_txt {
  position: absolute;
  left: 180px;
  top: 200px;
  opacity: 0;
  transition: all 0.5s;
  line-height: var(--T-lh);
}
.year_wrap .year_txt.on {
  opacity: 1;
}
.year_wrap .year_txt em {
  font-size: var(--T-H2);
  text-align: center;
  display: block;
  font-weight: 600;
}
.year_wrap .year_txt p {
  font-size: var(--T-P);
  text-align: center;
  font-weight: 400;
  padding: 40px 0 80px 0;
}
.main_award .slidewrapper {
  width: 566px;
  padding-top: 2800px;
}
.award_slide + .award_slide {
  padding-top: 150px;
}
.award_slide li {
  padding-bottom: 75px;
}
.award_slide .slide_txt em {
  font-size: 30px;
  font-weight: 600;
  color: var(--C-blue);
  display: block;
  padding-bottom: 25px;
}
.award_slide .slide_txt > p {
  font-size: var(--T-subTitle);
  color: var(--C-black);
}

.pagination {
  position: sticky;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
}
.pagination ul {
  position: relative;
}
.pagination ul li + li {
  padding-top: 15px;
}
.pagination ul:after {
  content: '';
  width: 34px;
  height: 150px;
  position: fixed;
  top: 50%;
  right: -50%;
  background: #ebebeb;
  transform: translateY(-50%);
  border-radius: 20px;
}
.pagination ul a {
  color: #ebebeb;
}
.pagination ul a span {
  position: relative;
  font-size: var(--T-mobileP);
  font-weight: bold;
}
.pagination ul a.show {
  color: var(--C-blue);
}
.pagination ul a.show span:after {
  background: var(--C-blue);
}
.pagination ul a span:after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: calc(100% + 22px);
  transform: translateY(-50%);
  background: #9b9b9b;
  border-radius: 50%;
  z-index: 10;
}

/* 모바일 슬라이드 */
@media (max-width: 500px) {
  .popup {
    display: none;
  }
  .main_award .content {
    /* padding: 2% 8%; */
  }
  .main_award .content:after {
    display: none;
  }
  .main_award .year_wrap {
    width: 0;
  }
  .main_award .year_wrap .year_txt {
    left: 0;
    top: 0;
    background: var(--C-white);
    padding: 100px 0 80px 0;
  }
  .main_award .year_wrap .year_txt em {
    font-size: var(--T-H5);
  }
  .main_award .year_wrap .year_txt p {
    font-size: 18px;
    padding: 15px 0 35px 0;
  }
  .pagination {
    display: none;
  }
  main .main_award .content img:first-of-type {
    transform: scale(1);
  }

  .award_slide {
    text-align: center;
  }
  main .main_award .slidewrapper {
    padding-top: 1000px;
  }
  .main_award .award_slide li {
    padding-bottom: 40px;
  }
  .main_award .award_slide .slide_txt em {
    font-size: 22px;
    padding-bottom: 10px;
  }
  .main_award .award_slide .slide_txt p {
    font-size: 16px;
  }
}
/* --수상이력 - 송림  */

/* 수치자료 - 준범  */
.main_numerical_data {
  /* position: relative;
  width: 100%; */
  color: var(--C-white);
}
.dataBG {
  width: 100%;
  height: 150vh;
  background: linear-gradient(var(--C-white), var(--C-black));
  text-indent: -9999em;
}

.increase_number {
  background: var(--C-black);
  position: relative;
  font-weight: bold;
}

/* 수치증가파트 */
.data_sticky {
  position: sticky;
  top: 0;
  margin-bottom: 200vh;
}

.title_content {
  padding-top: 176px;
  margin-bottom: 143px;
}
.title_content h2 {
  margin-bottom: var(--T-P);
}
.title_content h3 {
  font-size: var(--T-P);
}
.data_content {
  gap: 129px;
}
.data_content .left_data,
.data_content .right_data {
  gap: 144px;
}

.data_content span {
  font-size: calc(var(--T-base) * 2.25);
  margin-right: 21px;
}
.data_content .strong {
  font-size: calc(var(--T-base) * 4.5);
}

.data_content p {
  margin-top: var(--T-base);
}

.increase_number .numberBG {
  position: absolute;
  top: 20%;
  right: 8%;
  transform: translateY(-50%);
}
/* //수치증가파트 */

/* 수치스크롤 파트 */

.profit_data {
  position: relative;
  height: 420vh;
  /* overflow: hidden; */
}
.profit_data .imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
  transition: clip-path 0.1s, opacity 0.5s;
  clip-path: polygon(var(--clip-left) 0, var(--clip-right) 0, var(--clip-right) 100%, var(--clip-left) 100%);
}

.profit_data h2 {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 18%;
  transform: translateY(-50%);
  font-weight: normal;
}

.profitBG {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
}
.profitBG img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  background: #000;
  transition: opacity 0.5s;
}
.profitBG img.active {
  opacity: 1;
}

.profit_scroll_wrapper ul {
  position: absolute;
  top: 100vh;
  /* padding: 100vh 0; */
  left: 65%;
  display: flex;
  flex-direction: column;
  gap: 120px;
}
.profit_scroll_wrapper ul li {
  text-align: center;
  opacity: 0.4;
  transition: 0.5s;
}
.profit_scroll_wrapper ul li.active {
  opacity: 1;
}
.profit_scroll_wrapper ul li span {
  font-size: calc(var(--T-base) * 4.5);
  font-weight: bold;
}
/* --수치자료 - 준범  */

/* 사회공헌 - 선진  */
.main_social {
  position: relative;
  height: 200vh;
}

.social_wrapper {
  /* height: 100vh; */
  position: sticky;
  top: 10%;
}
.social_title h2 {
  margin: 124px 8%;
  font-size: var(--T-H2);
}

.social_boxes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  margin: 50px auto;
  filter: drop-shadow(0px 2px 4px #00000040);
  box-sizing: border-box;
  flex-wrap: wrap;
  }
.social_subbox1_img {
  background: url(../images/main/main_csr/csr_1.png) no-repeat;
}
.social_boxes ul.animate {
  transition: transform 1.5s rotateY 0.2s;
  transform-style: preserve-3d;
  object-fit: cover;
}
.social_subbox:nth-child(1).animate {
  animation: csr_card_fade_in_1 2s;
}
@keyframes csr_card_fade_in_1 {
  0% {
    transform: translateX(300%) rotateY(0deg);
  }
  100% {
    transform: translateX(0%) rotateY(360deg);
  }
}
.social_subbox2_img {
  background: url(../images/main/main_csr/csr_2.png) no-repeat;
}
.social_subbox:nth-child(2).animate {
  animation: csr_card_fade_in_2 2s;
  animation-delay: 0.5s;
}
@keyframes csr_card_fade_in_2 {
  0% {
    transform: translateX(300%) rotateY(0deg);
  }
  100% {
    transform: translateX(0%) rotateY(360deg);
  }
}
.social_subbox3_img {
  background: url(../images/main/main_csr/csr_3.png) no-repeat;
}
.social_subbox:nth-child(3).animate {
  animation: csr_card_fade_in_3 2s;
  animation-delay: 1s;
}
@keyframes csr_card_fade_in_3 {
  0% {
    transform: translateX(300%) rotateY(0deg);
  }
  100% {
    transform: translateX(0%) rotateY(360deg);
  }
}

.social_subbox1_img h3,
.social_subbox2_img h3,
.social_subbox3_img h3{
  padding: 24px;
} 

.social_boxes ul li {
  width: 436px;
  height: 541px;
  border-radius: 50px;
  overflow: hidden;
}

.social_subbox {
  display: flex;
  font-size: 80px;
  text-decoration: none;
  color: var(--C-white);
  box-sizing: border-box;
  flex:1;
  transition:flex 0.5s;
  position: relative;
  justify-content: center;
  align-items: center;
}
.social_subbox.active{
  flex:2;
  filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
}
.active .social_subbox1_img,
.active .social_subbox2_img,
.active .social_subbox3_img
{
  position: absolute;
  right: 54%;
}
.subdesc {
  position: absolute;
  z-index:-1;
  left:0;
  right:0;  
  transition:0.3s 0.2s;
  visibility: hidden;
  opacity: 0;
  color:#000;
  background: #fff;
  box-sizing: border-box;
  padding: 24px 24px 24px 40px;
  font-size: var(--T-P);
  width: 500px;
  height: 493px;
  border-radius: 50px;
  display: block;
  h4{
    font-size: 30px;
    margin-bottom:5%;
  }
  h5{
    font-size: 28px;
    margin-top : 3%;
  }
}


.active .subdesc{
  left: 42%;
  visibility: visible;
  opacity: 1;
}
.subdesc h4{
  font-size: var(--T-H5);
  margin-bottom: 12%;
}
.subdesc h5{
  font-size: calc(var(--T-H5) - 3px);
  margin-top: 5%;
  padding-bottom: 3%;
}


/*모바일 & 태블릿 사이즈*/
@media screen and (max-width: 768px) {
  .social_title h2 {
    margin: 124px 8%;
    font-size: var(--T-H5);
  }
  
  .social_boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px auto;
    filter: drop-shadow(0px 2px 4px #00000040);
    }

.social_subbox1_img h3,
.social_subbox2_img h3,
.social_subbox3_img h3,
.subdesc {
  padding: 24px;
  
}
.active .social_subbox1_img,
.active .social_subbox2_img,
.active .social_subbox3_img{
  position: relative;
  right:0%;
}

.social_boxes ul li {
  width: 436px;
  border-radius: 50px;
}
.social_subbox {
  display: flex;
  flex-direction: column;
  font-size: 80px;
  text-decoration: none;
  color: var(--C-white);
  justify-content: center;
  align-items: center;
  position: relative;
}
.social_subbox.active{
  position:relative:
  right:0%;
}
.subdesc {
  position: relative;
  display: none;
  color:#fff;

}
.active .subdesc{
  font-size: var(--T-P);
  width: 436px;
  height: auto;
  background: #ffffff;
  color: #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  display: block;
  left:0%;
  top :100%;
  h4{
    font-size: 24px;
    margin-bottom:5%;
  }
  h5{
    font-size: 20px;
  }
  p{
    font-size: var(--T-mobileP);
    margin-top : 3%;
  }
}
}
/* --사회공헌 - 선진  */

/* 뉴스 - 준범*/
.main_notice .notice_wrapper {
  height: 100vh;
  position: sticky;
  top: calc(100vh * 0.18);
}
.titleContainer {
  position: relative;
  height: 55px;
  margin-bottom: 83px;
}

.news_title,
.adv_title {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 8%;
  opacity: 0;
  transition: 0.3s;
}
.titleContainer > div.active {
  opacity: 1;
}

.notice_slide_wrapper {
  width: 100vw;
  overflow: hidden;
}
.notice_slide_wrapper .notice_slide_container {
  gap: 100px;
}
.notice_slide_wrapper .newsSlider,
.advSlider {
  margin-left: 8%;
  gap: 50px;
  padding: 15px 0;
}
.newsSlider li,
.advSlider li {
  width: calc(100vw / 5);
  height: 50vh;
  box-shadow: 4px 12px 30px rgba(0, 0, 0, 0.25);
  top: 0;
  transition: 0.3s;
}
.newsSlider li:hover,
.advSlider li:hover {
  position: relative;
  top: -20px;
  box-shadow: 4px 24px 30px rgba(0, 0, 0, 0.5);
}

.newsSlider li .card_top,
.advSlider li .card_top {
  width: 100%;
  height: 40%;
  padding: 16px;
  box-sizing: border-box;
}

.notice_slide_wrapper .newsSlider img,
.advSlider img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}
/* //뉴스2 */

@media screen and (max-width: 768px) {
  :root {
    --T-base: 12px;
  }

  /* 메인영상 */
  .video_title h2 {
    white-space: wrap;
    text-align: center;
    /* line-height: var(--T-lh); */
  }
  /* --메인영상 */
  /* 수치자료 */
  .title_content {
    padding-top: 30%;
    margin-bottom: 20%;
  }
  .data_content {
    flex-direction: column;
    gap: 30px;
    .left_data,
    .right_data {
      gap: 30px;
    }
  }
  .increase_number .numberBG {
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
  }

  .profit_data h2 {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    /* font-size: calc(var(--T-base) * 2); */
    z-index: 1000;
  }
  .profit_scroll_wrapper ul {
    left: 20%;
    /* flex-direction: row; */
  }
  .profit_scroll_wrapper ul li {
    opacity: 0;
  }
  /* --수치자료 */

  /* 뉴스 */
  .newsSlider li,
  .advSlider li {
    width: calc(100vw / 2);
  }
}
