* {
  font-size: var(--T-P);
  line-height: var(--T-lh);
  font-family: var(--T-mainfont);
}


.sub_tit_wrap {
    position: sticky;
    width: 100%;
    top: 0;
  }
  .sub_tit_wrap h2 {
    font-size: var(--T-H2);
    font-weight: 500;
    line-height: 1.2;
  }
  
  .breadcrumb {
    justify-content: right;
    padding-top: 57px;
  }
  body {
    line-height: 1.3;
  }
  .white {
    color: var(--C-white);
  }
  .orange {
    color: var(--C-orange);
  }
  .blue {
    color: var(--C-blue);
  }

  :root {
    --crop : 0%; 
  }
  .sub_tit_area img {
    padding-top: 400px;
  }
  .sub_tit_wrap {
    position: sticky;
    top: 200px;
  }
  .sub_tit {
    padding: 2% 8%;
  }
  .sec2 {
    position: absolute;
    left: 0;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    background: url(photo-1621955964441-c173e01c135b.jpg) no-repeat 0 0 / cover;
    clip-path: polygon(0 calc(100% - var(--crop)), 100% calc(100% - var(--crop)), 100% 100%, 0 100%);
  }