/* @import url("./common.css");
@import url("./pr_common.css"); */

.d-none {
  display: none;
}
.show_news {
  gap: 16px;
}

.show_news button {
  cursor: pointer;
  background: none;
  margin: 0;
  outline: none;
  border: none;
  padding: 2px;
  border: 3px solid transparent;
}
.show_news .active button {
  border-color: #18846c;
}

.show_news img {
  display: block;
  /* max-width: 100%; */
  width: 40px;
  height: auto;
}

.news_info {
  margin-bottom: 24px;
}

.news_info > span {
  text-transform: capitalize;
  font-size: var(--T-breadCrumb);
}

/* 뉴스 카드 */
.news_list {
  width: 80%;
  margin: 0 auto;
}

.news_list .news_item {
  position: relative;
  /* width: calc(100vw * 0.15); */

  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
  top: 0;
  transition: 0.3s;
}
.news_list .news_item:hover {
  top: -10px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.news_item .kebab {
  position: absolute;
  top: 0;
  right: 0;
}
.news_item .kebab ul {
}

.image-list {
  flex-wrap: wrap;
  gap: 70px;
}

.image-list .thumb {
  width: 100%;
  height: 60%;
  object-fit: cover;
}
.image-list .tag {
  gap: 20px;
}
.text_content {
  padding: 0 16px;
}

.text_content .article_title {
  margin-top: 16px;
  font-size: var(--T-breadCrumb);
  font-weight: 500;
}

/* // 뉴스 카드 */

/* 뉴스 검색  */
/* .search_news select,
.search_news input {
  height: 40px;
}

.search_news select {
  text-align: center;
  width: 60px;
}

.search_news label {
  text-indent: -9999em;
}

.search_news input {
  width: 365px;
} */

/* //뉴스 검색 */
.handle_news {
  margin: var(--T-P) 10% var(--T-H2);
}

.handle_news .handle_container {
  /* margin-bottom: 40px; */
}

/* 페이지네이션 */

.pagination {
  position: relative;
  margin: 185px 0 50px;
}
/* .pagination .page_button .prev,
.pagination .page_button .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: var(--T-mobileH2);
  height: var(--T-mobileH2);
  background: #d9d9d9;
  border-radius: 50%;
}

.pagination .page_button .prev {
  right: calc(100% + 50px);
}
.pagination .page_button .next {
  left: calc(100% + 50px);
}
.pagination .page_number {
  font-size: var(--T-breadCrumb);
  gap: var(--T-base);
  color: #888;
  display: inline-flex;
}
.pagination .page_number li {
  flex-grow: 0;
}
.pagination .page_number li.active {
  color: var(--C-black);
  font-weight: 500;
} */

/* // 페이지네이션 */

/* 페이지 이동 */
/* .go_to_page {
  margin-top: 24px;
  align-items: center;
  gap: var(--T-base);
}
.go_to_page label {
  text-indent: -9999em;
}

.J-paginationjs-go-pagenumber {
  width: 75px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  border-color: #888;
}
.J-paginationjs-go-button {
  width: 50px;
  height: 50px;
  background: #d9d9d9;
  border-radius: 50%;
  text-align: center;
  text-transform: uppercase;
  line-height: 50px;
  
} */
/* //페이지 이동 */

.grid-view {
  display: grid;
  /* grid-gap: 2rem; */
  grid-template-columns: calc(100vw * 0.15) calc(100vw * 0.15) calc(
      100vw * 0.15
    );
  justify-content: center;
  /* width: calc(100vw * 0.15); */
}
.grid-view .news_item {
  height: calc(100vw * 0.2);
}

.list-view li + li {
  margin-top: 1.5rem;
}

.list-view li a {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
}

.list-view .thumb {
  max-width: 100%;
  height: 150px;
  object-fit: cover;
}

/* 브래드크럼 */
.breadcrumb {
  position: absolute;
  top: calc(100% + 24px);
  right: 16%;
}
/* //브래드크럼 */
