#header {
  display: none !important;
}

.news_list .kebab {
  display: none;
}

.news_title {
  background: url(../images/pr/newsTitleBG.jpg) no-repeat 50% 50% / cover;
  width: 100%;
  height: calc(100vh / 3);
  padding-top: calc(var(--T-base) * 6);
  box-sizing: border-box;
}
.news_title h2 {
  margin: 0 8%;
  color: var(--C-white);
}
.news_title .news_bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
