:root {
  --mainblue : #00427A;
  --mainorange : #F5821F;
  --black : #000;
  --white : #fff;
  /* 색상 */
  --mainH2 : 55px;
  --mainH3: 48px;
  --mainH4: 38px;
  --mainP: 24px;
  --subTitle: 20px;
  --breadCrumb: 20px;
  --mobileH2: 40px;
  --mobileP: 16px;
  /* 폰트 사이즈 */
}